"*":
  "auto-update-packages": {}
  "autocomplete-plus":
    confirmCompletion: "enter"
    defaultProvider: "Symbol"
    enableBuiltinProvider: false
    minimumWordLength: 1
    navigateCompletions: "ctrl-p,ctrl-n"
    strictMatching: true
  "autocomplete-ruby": {}
  core:
    Path:
      GOPATH: "/Users/Ryo/.gvm/pkgsets/go1.6.2/global/bin"
      GOROOT: "/Users/Ryo/.gvm/gos/go1.6.2/bin"
      RUBYPATH: "/Users/Ryo/.rbenv/shims"
    audioBeep: false
    disabledPackages: [
      "metrics"
      "deprecation-cop"
      "wrap-guide"
      "autocomplete-paths"
      "linter-ruby"
    ]
    packagesWithKeymapsDisabled: [
      "go-plus"
      "godef"
    ]
    themes: [
      "spacegray-eighties-ui"
      "flatland-dark"
    ]
  editor:
    fontFamily: "mensch"
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 150
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "e6e8fb5b-badc-1771-6ceb-7894da7284d0"
  "go-plus":
    formatOnSave: false
    formatTool: "gofmt"
    goInstallation: "/Users/Ryo/.gvm/gos/go1.6.2/bin"
    goPath: "/Users/Ryo/.gvm/pkgsets/go1.6.2/global/bin"
  godef: {}
  "highlight-selected": {}
  linter:
    lintOnChangeInterval: 2000
    showHighlighting: false
  "linter-golinter":
    executablePath: "/Users/Ryo/.gvm/pkgsets/go1.6.2/global/bin/golint"
  "linter-ruby":
    rubyExecutablePath: "/Users/Ryo/.rbenv/shims/ruby"
  metrics:
    userId: "e2a729d4b658ee314d66d31ba0af9f3b202a8107"
  minimap:
    displayPluginsControls: false
    minimapScrollIndicator: false
  welcome:
    showOnStartup: false
".erb.html.text":
  editor:
    preferredLineLength: 150
".ini.source":
  editor:
    preferredLineLength: 150
".ruby.source":
  editor:
    preferredLineLength: 150
".source.swift":
  editor:
    preferredLineLength: 150
    tabLength: 4
