"*":
  "exception-reporting":
    userId: "e6e8fb5b-badc-1771-6ceb-7894da7284d0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "e2a729d4b658ee314d66d31ba0af9f3b202a8107"
  linter:
    lintOnChangeInterval: 2000
    showHighlighting: false
  core:
    disabledPackages: [
      "metrics"
      "deprecation-cop"
      "wrap-guide"
    ]
    audioBeep: false
    themes: [
      "spacegray-eighties-ui"
      "flatland-dark"
    ]
    packagesWithKeymapsDisabled: [
      "go-plus"
      "godef"
    ]
    Path:
      GOROOT: "/Users/Ryo/.gvm/gos/go1.5.1/bin"
      GOPATH: "/Users/Ryo/.gvm/pkgsets/go1.5.1/global/bin"
  editor:
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
    softWrap: true
    autoIndentOnPaste: false
    lineHeight: 1.4
    fontFamily: "mensch"
    preferredLineLength: 150
    softWrapAtPreferredLineLength: true
    fontSize: 13
  "autocomplete-plus":
    confirmCompletion: "enter"
    strictMatching: true
    includeCompletionsFromAllBuffers: true
    defaultProvider: "Symbol"
    navigateCompletions: "ctrl-p,ctrl-n"
  "highlight-selected": {}
  minimap:
    displayPluginsControls: false
    minimapScrollIndicator: false
  "auto-update-packages": {}
  "go-plus":
    goPath: "/Users/Ryo/.gvm/pkgsets/go1.5.1/global/bin"
    goInstallation: "/Users/Ryo/.gvm/gos/go1.5.1/bin"
    formatOnSave: false
    formatTool: "gofmt"
  godef: {}
  "linter-golinter":
    executablePath: "/Users/Ryo/.gvm/pkgsets/go1.5.1/global/bin/golint"
