"*":
  "exception-reporting":
    userId: "e6e8fb5b-badc-1771-6ceb-7894da7284d0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "e2a729d4b658ee314d66d31ba0af9f3b202a8107"
  linter:
    lintOnChangeInterval: 2000
    showHighlighting: false
  core:
    disabledPackages: [
      "metrics"
      "deprecation-cop"
      "minimap"
      "wrap-guide"
    ]
    audioBeep: false
    themes: [
      "spacegray-eighties-ui"
      "flatland-dark"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    lineHeight: 1.4
    fontFamily: "MesloLGSDZ-Regular"
    autoIndentOnPaste: false
    fontSize: 15
  "autocomplete-plus":
    confirmCompletion: "enter"
    strictMatching: true
    includeCompletionsFromAllBuffers: true
    defaultProvider: "Symbol"
    navigateCompletions: "ctrl-p,ctrl-n"
  "highlight-selected": {}
  minimap: {}
  "auto-update-packages": {}
  "japanese-wrap":
    characterWidth: {}
    lineBreakingRule: {}
